@using chd.UI.Base.Components.General
@typeparam TRepo
@typeparam T

<CascadingValue Value="this">
    <div class="edit-form">
        <div class="header">
            @if (this.OnBack.HasDelegate)
            {
                <IconButton FAClass="chevron-left" OnClick="this.Back" />
            }

            <div class="entity-info">
            </div>

            <div class="button-container">
                <IconButton FAClass="plus" OnClick="this.New" />

                <IconButton FAClass="floppy-disk" OnClick="this.Save" />
                <IconButton FAClass="trash" OnClick="this.Delete" />

            </div>
        </div>
        <div class="content">
            @this.ChildContent
        </div>
    </div>
</CascadingValue>
