@using chd.UI.Base.Components.General
@using chd.UI.Base.Components.General.Table
@using chd.UI.Base.Contracts.Enum
@using chdTour.App.Components.Base
@using chdTour.DataAccess.Contracts.Domain.Base
@using chdTour.DataAccess.Contracts.Interfaces.Repositories.Base

@typeparam TRepo where TRepo : IBaseRepository<T>
@typeparam TParentRepo where TParentRepo : IBaseRepository<TParent>
@typeparam T where T : class
@typeparam TParent where TParent : BaseEntity<Guid>
@typeparam TForm where TForm : BaseEditForm<TRepo, T>
@inherits BaseEditCollectionInput<TParentRepo,T,TParent>

<EditFormInput Title="@this.Title">
    <div class="edit-multi-assignment-form">
        <IconButton FAClass="plus" OnClick="this.New">@this.EntityName hinzufügen</IconButton>
        <Table Items="this.Items">
            <HeaderContent>
                @HeaderContent
                <TableHead></TableHead>
                <TableHead></TableHead>
            </HeaderContent>
            <RowTemplate Context="item">
                @RowTemplate(item)
                <TableData><IconButton FAClass="pen"  OnClick="async () => await this.Edit(item)" /></TableData>
                <TableData><IconButton FAClass="trash" ButtonStyle="EButtonStyle.Cancel" OnClick="async () => await this.Delete(item)" /></TableData>
            </RowTemplate>
        </Table>

    </div>
</EditFormInput>