@using chd.UI.Base.Components.General
@using chd.UI.Base.Contracts.Enum
@typeparam TRepo
@typeparam T

<CascadingValue Value="this">
    <div class="edit-form">
        <div class="edit-form-content">
            @this.ChildContent
        </div>
    </div>
</CascadingValue>
@if (this.Modal is null)
{
    <FloatingActionNavigation FAIconActive="chevron-left" TextActive="Zurück" OnClick="this.Back">
        <FloatingActionButton FAClass="trash" Title="Löschen" OnClick="this.Delete" />
        <FloatingActionButton FAClass="floppy-disk" Title="Speichern" OnClick="this.Save" />
    </FloatingActionNavigation>
}
else
{
    <dic class="buttons">
        <IconButton OnClick="this.Save" ButtonStyle="EButtonStyle.Primary" FAClass="floppy-disk">Speichern</IconButton>
    </dic>
}
