@using chdTour.App.Components.Base
@using chdTour.DataAccess.Contracts.Interfaces.Repositories.Base
@typeparam TRepo where TRepo : IBaseRepository<T>
@typeparam T where T : class
@typeparam TValue
@typeparam TFavoriteObject
@inherits BaseEditFormInput<TRepo,T, TValue>

<EditFormInput Title="@this.Title">
    <button class="btn btn-cancel @(this.Disabled ? "disabled" : "")" @onclick="this.Search">@this.Name(this.GetValue())</button>
</EditFormInput>