.edit-form {
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto;
}


    .edit-form .edit-form-content {
        display: grid;
        grid-template: 1fr 1fr;
        padding-right: 0.2rem;
    }


    .buttons{
        display:grid;
    }