.edit-multi-checkbox {
    height: 20rem;
    width: max-content;
    overflow-x: hidden; /* Hide scrollbars */
    overflow-y: scroll; /* Hide scrollbars */
    padding-right: 0.5rem;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 0.125rem;
}
