
.edit-form-input {
    display:grid;
    gap:0.2rem;
}

.edit-form-input:has(> input) {
    width: 13rem;
}

    .edit-form-input ::deep input:not([type=checkbox]) {
        width: 100%;
    }

.edit-form-title {
}

    .edit-form-title.align-title-start {
        align-self: start;
    }
