@using chdTour.App.Components.Base
@using chdTour.App.Components.Inputs
@using chdTour.DataAccess.Contracts.Domain
@inherits BaseEditForm<ITourImageRepository,TourImage>

<div class="edit-tour">
    <EditFormLayout TRepo="ITourImageRepository" T="TourImage" @ref="this._layout" Value="this.Value">
        <EditFormText TRepo="ITourImageRepository" T="TourImage" Title="Titel" Property="x => x.Title" Value="this.Value" />
        <EditFormImage TRepo="ITourImageRepository" T="TourImage" Title="Titel" Property="x => x.Data" Value="this.Value" @bind-Type="@this.Value.Type" />
    </EditFormLayout>
</div>

@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void Changed(Tour tour)
    {
        this.Value.TourId = tour.Id;
    }
}