@using chdTour.DataAccess.Contracts.Domain.Base

<div class="tour-image-display">
    <EditFormDisplayAttachment Attachment="this.Attachment" />
</div>
@code {
    [Parameter] public BaseAttachmentEntity<Guid> Attachment { get; set; }
}