@inherits PageComponentBase<int,int>
@inject IScrollInfoService scrollInfoService

@using Blazored.Toast.Configuration
    @using chd.UI.Base.Client.Implementations.Services
@using chd.UI.Base.Contracts.Enum
<div class="page">

    <NavMenu />

    <main>
        <div class="top-row">
            <Header PageTitle="@this.Title"></Header>
        </div>
        <article id="main-article" class="content px-4" @onscroll="scrollInfoService.Scrolled">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                MaxToastCount="3"
                RemoveToastsOnNavigation="true"
                ShowProgressBar="true">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>

@code {
    private bool _navCollapsed = false;

    protected override async Task OnInitializedAsync()
    {
        this._navCollapsed = true;
        await base.OnInitializedAsync();
    }



    private async Task OnLabelSwiped(ESwipeDirection e)
    {
        if (e == ESwipeDirection.LeftToRight)
        {
            this._navCollapsed = false;
            await this.InvokeAsync(this.StateHasChanged);
        }
    }
}