main {
    position: absolute;
    left: var(--sidebar-width-small);
    height: var(--main-article-available-height);
    width: calc(100% - var(--sidebar-width-small));
}


article {
    position: relative;
    padding: 0 !important;
}

    article ::deep * {
        max-width: var(--main-article-available-width);
    }
