.nav-menu ::deep .sidebar {
    padding: 0;
}

    .nav-menu ::deep .sidebar.collapsed {
    }

        .nav-menu ::deep .sidebar.collapsed header .image {
        }

    .nav-menu ::deep .sidebar header .image .logo {
        padding: 0.2rem;
        background-color: var(--chd-main-color-theme);
        height: 2.2rem;
    }

        .nav-menu ::deep .sidebar header .image .logo.test {
        }

        .nav-menu ::deep .sidebar header .image .logo svg {
            height: 100%;
        }

    .nav-menu ::deep .sidebar.collapsed .menu-bar {
        height: calc(100% - var(--top-header-height) / 1);
    }

        .nav-menu ::deep .sidebar.collapsed .menu-bar .menu .nav-item {
        }

            .nav-menu ::deep .sidebar.collapsed .menu-bar .menu .nav-item .nav-link {
            }

                .nav-menu ::deep .sidebar.collapsed .menu-bar .menu .nav-item .nav-link svg {
                    height: 95%;
                }
