@using chd.UI.Base.Contracts.Enum
@using chdTour.Contracts.Constants

<div class="nav-menu">
    <NavMenuBase>
        <ImageContent>
            <IconButton FAClass="books" OnClick="()=>this.GoHome()" />
        </ImageContent>
        <MenuContent>
            <NavItem href="" Match="NavLinkMatch.All" IconFAClass="house" Title="Home" />
            <NavItem  href="scala" Match="NavLinkMatch.All" IconFAClass="ruler" Title="@PageTitleConstants.Skala" />
            <NavItem  href="grade" Match="NavLinkMatch.All" IconFAClass="user-graduate" Title="@PageTitleConstants.SkalaGrades" />
        </MenuContent>
    </NavMenuBase>
</div>

